mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

textarea {
  min-height: 100px;
}

mat-dialog-actions {
  padding: 16px 24px;
  margin-bottom: 0;
} 