/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Custom button styles */
.mat-mdc-raised-button.mat-primary {
  background-color: #1976d2 !important;
  color: white !important;
}

.mat-mdc-raised-button.mat-primary:hover {
  background-color: #1565c0 !important;
}
